<% provide(:title, "Log in") %>

<fieldset>
  <%= form_for(:session, :url => sessions_path, :html => { :class => "form-horizontal pull-left"} ) do |f| %>

    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <div class="controls">
      <%= f.text_field :email %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, :class => "control-label"  %>
      <div class="controls">
      <%= f.password_field :password %>
      </div>
    </div>

    <div class="control-group">
      <%= f.submit "Sign in", :class => "btn btn-primary pull-right" %>
    </div>

    <div class="control-group">
      <p class="pull-right">New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  
  <% end %>
</fieldset>
