<%= form_for(@comment, :remote => true, :html => {:class => "form-horizontal pull-left"}) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= image_tag(gravatar_url_for(current_user), :class => "avatar") %>

    <%= f.hidden_field :movie_id, :value => movie.id %>
    <%= f.text_field :content, :placeholder => "Komentarz..." %>
 
    <%= f.submit "OK", :class => "enter", :disable_with => "Sec..." %>
<% end %>
