<%= form_for(@movie, :html => { :class => "well form-inline"}) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :resource_id, :placeholder => "Youtube movie ID" %>
    <%= f.submit :class => "btn btn-primary" %>

    <div class="pull-right">
      Drag this to your bookmark bar --> <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://burczynski.com/youtube_id.js';})();" class="bookmarklet">✚ Najsu!</a>
    </div>

    
<% end %>
