<ul class="actions unstyled" id="movieActions">
	<% if defined? page %>
		<%= render :partial => "movies/lightboxActions", :locals => { :movie => movie, :page => page } %>
	<% else %>
		<%= render :partial => "movies/lightboxActions", :locals => { :movie => movie } %>
	<% end %>
</ul>

<div id="lightbox_comments">
	<ul>
		<%= render movie.comments %>
	</ul>
		<% if signed_in? %>	<%= render :partial => "comments/form", :locals => { :movie => movie } %> <% end %>
</div>

<div class="lightbox">
	<div class="content" id="lightbox_content">

		<% if movie.source == 1 %>
			<embed src="http://www.youtube.com/v/<%=movie.resource_id%>&autoplay=1&rel=0&autohide=1&cc_load_policy=0&controls=1&hd=1&egm=0" type="application/x-shockwave-flash" wmode="transparent" id="embed_video">
			</embed>
		<% elsif movie.source == 2 %>
			<iframe src="http://player.vimeo.com/video/<%=movie.resource_id%>?autoplay=1" width="853" height="480" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		<% else %>
			SHIT
		<% end %>
	</div>
</div>

