<div class="movie" id="clip_<%=movie.id%>">
	<%= link_to(movie_path(movie.id), :remote => true) do %>
		<div class="play"></div>
		<%= image_tag("http://img.youtube.com/vi/#{movie.resource_id}/hqdefault.jpg") %>
	<% end %>
	<ul class="comments">
		<li class="author">
			<%= image_tag(gravatar_url_for(movie.user), :class => "avatar") %> by 
			<strong><%= movie.user.name %></strong>
			<%= movie.created_at.strftime("%m-%d") %>
		</li>
		<% if movie.comments.count > 5 %>
			<% movies_left = movie.comments.count - 5 %>
			<li class="more"><%= "Wczytaj jeszcze #{movies_left} komentów" %></li>
		<% end %>
		<%= render movie.comments.last(5) %>
	</ul>
	<% if signed_in? %>	<%= render :partial => "comments/form", :locals => { :movie => movie } %> <% end %>
</div>
