<div class="movie" id="clip_<%=movie.id%>">
	<%= link_to(movie_path(movie.id), :remote => true) do %>
		<div class="play"></div>
		<%= image_tag("http://img.youtube.com/vi/#{movie.resource_id}/hqdefault.jpg") %>
	<% end %>
	<ul class="comments">
		<li class="author">

			<div class="title">
				<%= "<p>#{truncate(movie.title, :length => 70)}</p>".html_safe if movie.title %>
				<div class="counters">
					<div class="views_count"><%= movie.views_count %></div> 
					<div class="likes_count"><%= movie.likes_count %></div>
					<div class="comments_count"><%= movie.comments.count %></div>
				</div>
			</div>

			<div class="data">
				<div class="content">
					<%= link_to(image_tag(gravatar_url_for(movie.user), :class => "avatar"), user_path(movie.user)) %>
					<strong><%= movie.user.name %></strong><br/>
					<small><%= time_ago_in_words(movie.created_at) %> ago.</small>
				</div>
				<div class="action">
					<% if signed_in? && current_user?(movie.user) %>	
						<%= link_to "&times;".html_safe, movie, :confirm => "Entire movie fo' sho?", :method => :delete, :class => "btn btn-mini pull-right", :remote => true %>
					<% end %>
				</div>
			</div>
			
		</li>
		<% if movie.comments.count > 5 %>
			<% movies_left = movie.comments.count - 5 %>
			<li class="more"><%= "Wczytaj jeszcze #{movies_left} komentów" %></li>
		<% end %>
		<%= render movie.comments.last(5) %>
	</ul>
	<% if signed_in? %>	<%= render :partial => "comments/form", :locals => { :movie => movie } %> <% end %>
</div>
