<%= link_to "All stuff", movies_path %> | 
<%= link_to "Last week popular", movies_path(:popular => "fuckyea") %>

<h1>Listing movies</h1>

<table>
  <tr>
    <th>Resource</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td>
      <%= image_tag("http://img.youtube.com/vi/#{movie.resource_id}/hqdefault.jpg", :size => "50x50") %>
      <%= movie.resource_id %>
    </td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %><hr/>
<%= will_paginate @movies, :page_links => false, :next_label => 'Load more!' %>
