<%= form_for(@user, :html => { :class => "form-horizontal pull-left"}) do |f| %>
  <fieldset>
    <%= render 'shared/error_messages' %>

    <div class="group text">


        <%= f.text_field :name, :placeholder => "nick" %>


        <%= f.text_field :email, :placeholder => "e-mail" %>
      </div>
    <div class="group text">

        <%= f.password_field :password, :placeholder => "hasło" %>


        <%= f.password_field :password_confirmation, :placeholder => "potwierdzenie hasła" %>
            </div>



      <%= f.submit "zarejestruj się", :class => "button", :disable_with => "Ładowanie" %>


  </fieldset>
<% end %>

  <h2><a href="signin">Mam już konto!</a></h2>


