<%= form_for(@user, :html => { :class => "form-horizontal pull-left"}) do |f| %>
  <fieldset>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <legend>No dalej, utwórz użytkownika!</legend>

    <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
      <%= f.submit "Utwórz użytkownika", :class => "btn btn-primary", :disable_with => "Ładowanie" %>
      </div>
    </div>

  </fieldset>
<% end %>
