<%= form_for(@user, :html => { :class => "form-horizontal pull-left"}) do |f| %>
  <fieldset>
    <%= render 'shared/error_messages' %>


    <div class="control-group">
    <%= f.label "Username", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="control-group">
    <%= f.label :password_confirmation, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
      <%= f.submit :class => "btn btn-primary pull-right", :disable_with => "Åadowanie" %>
      </div>
    </div>

  </fieldset>
<% end %>

