<% provide(:title, 'Szukaj znajomych') %>

<div class="container">
  <div class="row" id="people">
    <% if current_user.facebook? && current_user.remember_token == "gK74mkh8f8SbQQf2U3UBcA" %>
      <div class="span6">
        <%= link_to "Zaproś znajomych z Facebook", invitations_path, :remote => true, :class => "facebook" %>
      </div>
    <% end %>

    <div class="span6">
      <h2>Szukaj znajomych:</h2>

      <%= form_tag users_path, :method => 'get', :remote => true, :id => "searchPeople" do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Szukaj", :name => nil, :class => "btn" %>
      <% end %>

      
      <ul class="unstyled" id="usersList">
        <h3>Propozycje</h3>
        <%= render @users %>
      </ul>

    </div>
  </div>
</div>




