

<div class="container">
  <div class="row" id="people">
    <% if current_user.facebook? %>
      <div class="span6">
        <%= link_to "Zaproś znajomych z Facebook", invitations_path, :remote => true %>
      </div>
    <% end %>

    <div class="span6">
      <h2>Szukaj znajomych:</h2>

      <%= form_tag users_path, :method => 'get', :remote => true, :id => "searchPeople" do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>

      <% provide(:title, 'Lista użytkowników') %>
      <ul class="unstyled" id="usersList">
        <%= render @users %>
      </ul>

    </div>
  </div>
</div>




