<% provide(:title, @user.name) %>

<div class="container">
	<div id="people" class="row">

		<div class="span6">
			<h2 class="username">
				<%= image_tag(avatar_url_for(@user), :size => "35x35" ) %>
				<%= @user.name %>
				<div id="user_show_form">
					<%= render :partial => "users/followForm", :locals => { :user => @user } %>
				</div>
			</h2>		

			<div id="usersList">
				<ul class="unstyled friends first">
					<strong>Obserwowani (<%=@user.followed_users.count%>):</strong>
					<% @user.followed_users.each do |followed| %>
						<li><%= link_to(followed.name, user_path(followed.id)) %></li>
					<% end %>
				</ul>

				<ul class="unstyled friends">
					<strong>Obserwujący (<%=@user.followers.count%>):</strong>
					<% @user.followers.each do |follower| %>
						<li><%= link_to(follower.name, user_path(follower.id)) %></li>
					<% end %>
				</ul>
			<div>
		</div>

	</div>
</div>