<% provide(:title, @user.name) %>

	Drag this to your bookmark bar » &nbsp;<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://burczynski.com/youtube_id.js';})();" class="bookmarklet">Najsu!</a>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
	<% @user.authentications.each do |auth| %>
		<%= auth.provider %></br>
		<%= auth.uid %></br>
		<hr>
	<% end %>
</p>

<%= render :partial => "users/followForm", :locals => { :user => @user } %>

<strong>Obserwowani:</strong><br/>
<% @user.followed_users.each do |followed| %>
	<%= followed.name %>
<% end %><br/>

<strong>Obserwujący:</strong><br/>
<% @user.followers.each do |follower| %>
	<%= follower.name %>
<% end %><br/>
