<% provide(:title, @user.name) %>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
	<% @user.authentications.each do |auth| %>
		<%= auth.provider %></br>
		<%= auth.uid %></br>
		<hr>
	<% end %>
</p>

<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>


<strong>Obserwowani:</strong><br/>
<% @user.followed_users.each do |followed| %>
	<%= followed.name %>
<% end %><br/>

<strong>Obserwujący:</strong><br/>
<% @user.followers.each do |follower| %>
	<%= follower.name %>
<% end %><br/>
