<div class="row-fluid" id="featured">

	<div class="span12">
			<p>Odkrywaj, oglądaj i dziel najciekawsze filmy w Twoim otoczeniu!</p>
			<a class="close pull-right">&times;</a>

  		<% unless current_user %>
  			<%= link_to "Zaloguj z Facebook", "auth/facebook", :class => "button button-facebook facebook_popup", :disable_with => "Sekunda..." %>
  			<%= link_to "Załóż konto", signup_path, :class => "button button-green" %>
  		<% end %>

  		<% if signed_in? %>
				<% if current_user.facebook? %>
					<%= link_to "Zaproś znajomych z Facebook!", invitations_path, :remote => true, :disable_with => "Ładowanie...", :class => "button button-facebook" %>
				<% end %>
	  		<%= link_to "Subskrybuj ludzi!", users_path, :class => "button button-orange" %> 
			<% end %>		
	</div>

</div>

<div id="categories" class="row-fluid">

	<ul class="switcher unstyled">
		<li><%= link_to "Popularne", root_path(:feed => "popular"), :id => "popular", :remote => true %></li>
		<li><%= link_to "Od znajomych", root_path(:feed => "friends"), :id => "friends", :remote => true %></li>
		<li><%= link_to "Dyskutowane", root_path(:feed => "discussed"), :id => "discussed", :remote => true %></li>
	</ul>

</div>


<div class="row-fluid">
		<div id="moviesList">
		<%= render @movies %>
	</div>
</div>					
