<div class="row-fluid<%=featuredCss%>" id="featured">

	<div class="span12">

			<div class="unWrap">			
				<p id="discoverMovies">Odkrywaj, najlepsze filmy na Świecie i w Twoim otoczeniu!</p>
	  		<% unless current_user %>
	  			<%= link_to "Zaloguj z Facebook", "auth/facebook", :class => "button-facebook facebook_popup" %>
	  			<p id="or">lub</p>
	  			<%= link_to "Załóż konto", signup_path, :class => "button-signup" %>
	  		<% end %>
	  	</div>

			<!--
			<a class="close pull-right">&times;</a>
			-->

  		<% if signed_in? %>
				<% if current_user.facebook? %>
					<%= link_to "Zaproś znajomych z Facebook!", invitations_path, :remote => true, :disable_with => "Ładowanie...", :class => "button button-facebook" %>
				<% end %>
	  		<%= link_to "Subskrybuj ludzi!", relationships_path, :remote => true, :class => "button button-orange" %> 
			<% end %>		

	</div>
</div>

<% if signed_in? %>
<div id="categories" class="row-fluid">

	<ul class="switcher unstyled">
		<li id="switcherItem0"><%= link_to "Najnowsze", root_path(:feed => "newest"), :id => "newest", :rel => "tooltip", :title => "Ostatnio dodane", :remote => true %></li>
		<li id="switcherItem1"><%= link_to "Popularne", root_path(:feed => "popular"), :id => "popular", :rel => "tooltip", :title => "Popularne", :remote => true %></li>
		<li id="switcherItem2"><%= link_to "Od znajomych", root_path(:feed => "friends"), :id => "friends", :rel => "tooltip", :class => "active", :title => "Od znajomych", :remote => true %></li>
		<li id="switcherItem3"><%= link_to "Dyskutowane", root_path(:feed => "discussed"), :id => "discussed", :rel => "tooltip", :title => "Dyskutowane", :remote => true %></li>
		<li id="switcherItem4"><%= link_to "Oglądane", root_path(:feed => "watched"), :id => "watched", :rel => "tooltip", :title => "Oglądane", :remote => true %></li>
	</ul>

</div>
<% end %>


<div class="row-fluid">
		<div id="information">
			<%= render :partial => 'pages/homeNotice' %>
		</div>

		<%= current_settings.updated_at if signed_in? %>

		<div id="moviesList">
			<%= render @movies %>
		</div>
		<div id="paginaDomina">
			<%= will_paginate @movies, :page_links => false, :next_label => 'Więcej!' %>
		</div>	
		<%= javascript_tag " $('.pagination a').attr('data-remote', 'true'); $('.previous_page').remove()" %>
</div>					
