<div class="row-fluid" id="featured">

	<div class="span12">
			<p>Odkrywaj, oglądaj i dziel najciekawsze filmy w Twoim otoczeniu!</p>
			<a class="close pull-right">&times;</a>

  		<% unless current_user %>
  			<%= link_to "Zaloguj z Facebook", "auth/facebook", :class => "button button-facebook facebook_popup", :disable_with => "Sekunda..." %>
  			<%= link_to "Załóż konto", signup_path, :class => "button button-green" %>
  		<% end %>

  		<% if signed_in? %>
				<% if current_user.facebook? %>
					<%= link_to "Zaproś znajomych z Facebook!", invitations_path, :remote => true, :disable_with => "Ładowanie...", :class => "button button-facebook" %>
				<% end %>
	  		<%= link_to "Subskrybuj ludzi!", relationships_path, :remote => true, :class => "button button-orange" %> 
			<% end %>		
	</div>

</div>

<% if signed_in? %>
<div id="categories" class="row-fluid">

	<div class="user">
		<%= link_to(library_path) do %>
			<div class="avatar">
				<div class="mask"></div>
				<%= image_tag(gravatar_url_for(current_user),:size => '52x52') %>
			</div>
			<%= current_user.name %>
		<% end %>
	</div>

	<ul class="switcher unstyled">
		<li id="switcherItem0"><%= link_to "Najnowsze", root_path(:feed => "newest"), :id => "newest", :rel => "tooltip", :title => "Ostatnio dodane", :remote => true %></li>
		<li id="switcherItem1"><%= link_to "Popularne", root_path(:feed => "popular"), :id => "popular", :rel => "tooltip", :title => "Popularne", :remote => true %></li>
		<li id="switcherItem2"><%= link_to "Od znajomych", root_path(:feed => "friends"), :id => "friends", :rel => "tooltip", :class => "active", :title => "Od znajomych", :remote => true %></li>
		<li id="switcherItem3"><%= link_to "Dyskutowane", root_path(:feed => "discussed"), :id => "discussed", :rel => "tooltip", :title => "Dyskutowane", :remote => true %></li>
		<li id="switcherItem4"><%= link_to "Oglądane", root_path(:feed => "watched"), :id => "watched", :rel => "tooltip", :title => "Oglądane", :remote => true %></li>
	</ul>

</div>
<% end %>


<div class="row-fluid">
		<div id="moviesList">
			<%= render @movies %>
		</div>
		<div id="paginaDomina">
			<%= will_paginate @movies, :page_links => false, :next_label => 'Load more!' %>
		</div>	
		<%= javascript_tag " $('.pagination a').attr('data-remote', 'true'); $('.previous_page').remove()" %>
</div>					
