<div id="categories" class="row-fluid library">
	<div class="avatar" id="slidabilty">
		<div class="mask"></div>
		<%= image_tag(avatar_url_for(current_user),:size => '82x82') %>
	</div>
</div>

<div class="row-fluid libary-navi">
	<div class="btn-group">
		<%= link_to "Twoje filmy", library_path(:show => "yours"), :id => "yours", :class => "btn active", :remote => true %>
		<%= link_to "Lubiane", library_path(:show => "liked"), :id => "liked", :class => "btn", :remote => true %>
		<%= link_to "Dyskutowane", library_path(:show => "commented"), :id => "commented", :class => "btn", :remote => true %>
	</div>
</div>


<div class="row-fluid">

	<div id="moviesList" class="library">
		<%= render :partial => "movies/repost", :collection => @reposts %>
	</div>
</div>