<ul class="unstyled" id="activities">
	<% last_activity_user = @activities.last.user_id %>

	<% @activities.each do |activity| %>


	<% unless activity.user_id == current_user.id && activity.recipient_id == current_user.id %> 
 	<li>
 				<% if last_activity_user != activity.user_id %>
					<div class="avatar">
						<div class="mask" rel='tooltipBottom' title ="<%= activity.user.name %>"></div>
						<%= image_tag(gravatar_url_for(activity.user), :size => '64x64') %>
					</div>
				<% end %>

				<!-- save current activity user -->
				<% last_activity_user = activity.user_id %>


				<div class="content">
					<% if activity.resource != 3 %>
						<%= image_tag(activity.data[:movie_thumbnail]) %>
					<% end %>

						<%= activity.user.name %> <%= activity_action(activity.resource) %> 
						<%= "'#{activity.data[:movie_title]}'" if activity.resource != 3 %> 
						<%= time_ago_in_words(activity.created_at) %> temu.<br/>

					<% if activity.resource == 2 %>
						"<i><%= activity.data[:comment_content] %></i>"
					<% end %>
				</div>
	</li>
	<% end %>


 <% end %>
</ul>