<div class="navbar navbar-fixed-top" id="header">
	 <div class="navbar-inner">

			<div class="container-fluid bezel">
			</div>

			<div class="container-fluid bar">
				<%= link_to "Najsu", root_path, :class => "brand" %>

				<% if signed_in? %>
					<div class="user">
						<div class="avatar">
							<div class="mask"></div>
							<%= image_tag(gravatar_url_for(current_user), :size => "38x38") %>
						</div>
						<div class="name">
							<div class="arrow"></div>
							<%= link_to current_user.name, user_path(current_user), :class => "content" %>
						</div>
						<div id="notifications_counter">
							<%= render "layouts/headerCounter" %>							
						</div>
						<div id="activities_baloon">
							<div class="arrow"></div>							
							<ul class="unstyled" id="counter_activities">
							</ul>						
							<div class="actions">
								<a href="activities">Wszystkie aktywności</a>
								<a href="#feed" id="mobile_activities_close">Zamknij panel</a>
							</div>
						</div>
					</div>
				<% end %>
				
	      <ul class="nav">
						<% if signed_in? %>
							<li id="bookmarklet"><%= link_to "Zakładka", bookmarklet_path, :class => active?("bookmarklet") %></li>
						<% end %>

	          <li><%= link_to "Główna", root_path, :class => active?("home") %></li>
						<li><%= link_to "Ludzie", users_path, :class => active?("users", "index") %></li>

						<% if signed_in? %>
		        	<li><%= link_to "Aktywności", activities_path, :class => active?("activities", "index") %></li>
		        <% end %>

	          <% unless signed_in? %>
	            <li><%= link_to "Zaloguj się", signin_path %></li>
	            <li><%= link_to "Rejestracja", signup_path %></li>
	          <% end %>

            <% if signed_in? %>
            	<li><%= link_to "Zbiory", library_path, :class => active?("library") %></li>
            	<li><%= link_to "Wyloguj się", signout_path, method: "delete", :class => "clean" %></li>
	          <% end %>
	      </ul>
	  	</div>


	</div>
</div>
