<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

		<%= render "layouts/header" %>

		<div class="container" id="content">

			<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

			<div class="page-header">
				<h2><%= yield(:title) %></h2>
			</div>

			<%= yield %>
		</div>

		<% if Rails.env.development? %>
			<div class="container">
	      <%= debug(params) %>
	    </div>
    <% end %>
	
</body>
</html>
