<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="app">

	<div class="navbar navbar-fixed-top">
	 <div class="navbar-inner">
			<div class="container-fluid">
				<%= link_to "Tuduk", root_path, :class => "brand" %>
				<ul class="nav pull-left">
					<li<%=" class='active'" if action_name == 'home'%>><%= link_to "Dashboard", root_path %>
				</ul>

        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= "#{current_user.name}" %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user) %>
              <li><%= link_to "Settings", edit_user_path(current_user) %>
              <li class="divider"></li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %>
            </ul>
          </li>
        </ul>

        <form class="navbar-search pull-right">
		   		<input type="text" class="search-query" placeholder="Search">
		    </form>	

	    </div>
	  </div>
	</div>

	<div class="container-fluid" id="content">

		<% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

		<div class="row-fluid">
			<div class="span3" id="side">
				<div class="tabbable tabs-left">
				  <ul class="nav nav-tabs">
				    <li><h6>Lists<a href="#" class="btn btn-mini pull-right"><i class="icon-plus"></i></a></h6></li>
				    <li class="active"><a href="#1" data-toggle="tab">Private</a></li>
				    <li><a href="#2" data-toggle="tab">School</a></li>
				    <li><a href="#2" data-toggle="tab">Work</a></li>
				    <li><a href="#2" data-toggle="tab">Someday</a></li>

				    <li><h6>Default</h6></li>
				    <li><a href="#1" data-toggle="tab"><i class="icon-time"></i>Today</a></li>
				    <li><a href="#2" data-toggle="tab"><i class="icon-time"></i>Tomorrow</a></li>
				    <li><a href="#2" data-toggle="tab"><i class="icon-time"></i>This week</a></li>
				    <li><a href="#2" data-toggle="tab"><i class="icon-warning-sign"></i>Overdue</a></li>
				  </ul>
				</div>
			</div>

			<div class="span9" id="main">
				<div class="row">
					<h2><%= yield(:title) %></h2>
					<%= yield %>

					<div class="tab-content">
				    <div class="tab-pane active" id="1">
				      <p>I'm in Section 1.</p>
				    </div>
				    <div class="tab-pane" id="2">
				      <p>Howdy, I'm in Section 2.</p>
				    </div>
				  </div>
				 </div>

			</div>	
		</div>
	</div>

	<div class="container-fluid">
		<%= render "layouts/footer" %>
	</div>

	<% if Rails.env.development? %>
		<div class="container-fluid">
      <%= debug(params) %>
    </div>
  <% end %>
	
</body>
</html>
