<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta content="filmiki, rozrywka, społeczność, agregator" name="keywords">
  <meta content="Najsu pozwala Ci odkrywać wszystkie najfajniejsze filmiki w sieci, popularne zarówno na świecie jak i wśród Twoich znajomych!" name="description">

  <link rel="shortcut icon" type="image/png" href="assets/favicon.ico" />

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1&appId=265664360191857";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30915752-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	</script>
</head>
<body <%="class='app'" if signed_in? %>>

	<%= render "layouts/header" %>

	<!--  content -->
	<div class="container-fluid<%= ' movies'if action_name == 'home' %>" id="content">
		<div class="row-fluid">
			<div class="span12">
				<% flash.each do |key, value| %>
		      <div class="alert alert-<%= key %>"><%= value %></div>
		    <% end %>
				<%= yield %>
			</div>
		</div>
	</div>

	<!-- footer -->
	<div id="footer">
		<%= render "layouts/footer" %>
	</div>

 	<%= render "layouts/modal" %>

  <div class="overlay" id="cinema">
  	<%= yield :cinema %>
  </div>
  	
</body>
</html>
