<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-fixed-top" id="header">
	 <div class="navbar-inner">
			<div class="container-fluid">
				<%= link_to "Najsu", root_path, :class => "brand" %>
				
	      <ul class="nav">
	          <li><%= link_to "Home", root_path %></li>
 	          <li><%= link_to "Timeline", root_path %></li>

            <% if signed_in? %>
            	<li><%= link_to "Signed in as #{current_user.name}", "#{}" %></li>
            	<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
	          <% end %>
	          <% unless signed_in? %>
	            <li><%= link_to "Sign in", signin_path %></li>
	            <li><%= link_to "Sign up", signup_path %></li>
	          <% end %>
	      </ul>

	    </div>
	  </div>
	</div>

	<div class="container-fluid" id="content">

		<div class="row-fluid">
			<div class="span12">
				<% flash.each do |key, value| %>
		      <div class="alert alert-<%= key %>"><%= value %></div>
		    <% end %>
				<%= yield %>
			</div>
		</div>

	</div>

	<div class="container-fluid">
		<%= render "layouts/footer" %>
	</div>

	<% if Rails.env.development? %>
		<div class="container-fluid">
      <%= debug(params) %>
    </div>
  <% end %>


  <div class="overlay" id="cinema">
  </div>
	
</body>
</html>
